.App {
  text-align: center;
}

.App-content {
  background-color: #0040c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}

.description {
  font-size: 0.5em;
  background: #212121;
  padding: 5px;
}

.apps {
  display: flex;
  flex-direction: row;
  max-width: 100vh;
  margin: 150px auto;
}

@media (max-width: 800px) {
  .apps {
    flex-direction: column;
  }
}